@charset "utf-8";



* {
    margin: 0;
    padding: 0;
}
#title{
  position: absolute;
  font-size:40px;
  margin-left:5%;
  margin-top:80px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}
  #gps{
    position: absolute;
    margin-top:520px;
    width:100%;
    height:184px;
    background-color:#f8e58c;
  }
  #photo{

    position: absolute;
    margin-top:527px;
    margin-left:540px;
    height:170px;
    width:300px;
    z-index: 1;
  }
#input_gps_files{
  margin-top:40px;
  margin-left:60px;
margin-bottom: 20px;
}

#lat_and_long{
margin-top:40px;
margin-left: 60px;
}
