@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#gps{
  margin-top:40px;
  margin-left: 75%;
}
#gps_input{
  margin-top:0px;
  margin-left:75%;
}
.sidebar1{
  margin-left:20px;
}
.sidebar2 img{
  margin-left:20px;
  width:24%;
  height:300px;
}
.side-background{
background-color:#f7fcfe;

  height:641px;
  width:100%;
}
